html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
}

#gameCanvas {
    display: none;
    touch-action: none;
}


body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

#startScreen {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startScreen h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

#startScreen button {
    font-size: 32px;
    padding: 20px 50px;
}

canvas {
    display: none;
    background: #222;
}

#controls {
    position: relative;
    bottom: 19px;
    width: 100%;
    display: none;
    justify-content: center;
    gap: 40px;
    background: #F5F0EB;
    padding: 30px;
}

button {
    font-size: 26px;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background: #D1811F;
    color: #FFFFFF;
    height: 85px;
    min-width: 200px;
}

#stopwatch {
    width: 104px;
    height: 85px;
    border: 4px solid #101010;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
    right: 80px;
    color: #101010;
}